body {
    width: 400px;
}

body > section + section {
    border-top: 1px solid #e6e6e6;
} 

.title {
    color: #545454;
    font-size: .75rem;
    font-weight: bold;
    padding: .5rem 1rem;
    text-transform: uppercase;
}